body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

#basic {
  width: 30%;
}

#advanced {
  width: 70%;
  height: 100%;
}

#dashboard {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

#topRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.dash1 {
  width: 32%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.dashBox {
  flex-grow: 1;
}

.dash2 {
  margin-top: 20px;
}

.title {
  font-size: 0.8em;
  text-align: left;
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;

}

.dashText {
  font-size: 3em;
  font-weight: 900;
  font-family: 'Fira Code',
    'Arial Narrow',
    Arial,
    sans-serif;
  display: flex;
  height: 100%;
  text-align: center;
}

aside {
  background-color: #1B1B21;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transform: translateX(-500px);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 6;
  position: fixed;
}



.bar {
  display: block;
  background-color: #C85720;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #1B1B21;
  z-index: 1;
  transition: transform .5s ease-in-out;
}

h1 {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
}

.textBase {
  color: #f2f2f2;
  font-family: 'Oswald',
    'Arial Narrow',
    Arial,
    sans-serif;
  text-align: left;
}

.header {
  margin: 10px;
  position: relative;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 1.8em;
  color: #f2f2f2;
  font-family: 'Fira Code', 'Arial Narrow', Arial, sans-serif;
}

.advancedHeader {
  padding-right: 20px;
}

.status {
  color: #06C85C;
}

.switch {
  border: none !important;
  font-weight: 500;
  font-size: 1em;
  display: flex;
  color: #f2f2f2;

}

.toggle {
  text-align: center;
  width: 50%;
  border-radius: 15px;
  height: 100%;
  padding: 8px 0;
}

.toggle1 {
  background-color: #f2f2f27e;
}

#liveData {
  color: #f2f2f27e;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #06C85C;
  border-radius: 50%;
  display: inline-block;
}

ul {
  padding-left: 25px;
}

li {
  font-size: 1.3em;
  padding: 0px 0;
  text-align: left;
}

.spec2 {
  color: #C85720;
  width: 40%;
}

.spec1 {
  width: 60%;
}

.box {
  border: 2px solid #C85720;
  border-radius: 15px;
  margin: 20px;
  background-color: #2A2727;
}

.box2 {
  border: 2px solid #adaaa859;
  border-radius: 15px;
  margin: 20px 20px 0 20px;
  background-color: #2A2727;
}

#advancedButton {
  width: 50%;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

#div3 {
  display: flex;
  margin: 20px;
  border-top: 2px solid rgba(242, 242, 242, 0.123);
  padding-top: 10px;
}

#div4 {
  width: 50%;
}

#specBox {
  display: flex;
}

.asideList {
  list-style: none;
  width: 50%;
}

.asideAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.asideAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.asideAnchor:hover {
  color: #1B1B21;
}

.asideAnchor:hover::after {
  width: 100%;
}



input[type="checkbox"]:checked~label .bar {
  background-color: #fff;

}

input[type="checkbox"]:checked~label .top {
  -webkit-transform: translateY(7.5px) rotateZ(45deg);
  -moz-transform: translateY(7.5px) rotateZ(45deg);
  -ms-transform: translateY(7.5px) rotateZ(45deg);
  -o-transform: translateY(7.5px) rotateZ(45deg);
  transform: translateY(7.5px) rotateZ(45deg);
}

input[type="checkbox"]:checked~label .bottom {
  -webkit-transform: translateY(-7.5) rotateZ(-45deg);
  -moz-transform: translateY(-7.5) rotateZ(-45deg);
  -ms-transform: translateY(-7.5) rotateZ(-45deg);
  -o-transform: translateY(-7.5) rotateZ(-45deg);
  transform: translateY(-7.5px) rotateZ(-45deg);
}

input[type="checkbox"]:checked~label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.ua {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #0799d3;
  font-size: 2em;
  z-index: 2;
}